html {
    margin: auto;
}

body {
    background-color: black;
    color: aliceblue;
}


a {
    color: aliceblue;
}

.grid {
    border: 1px solid aliceblue;
    display: flex;
    flex-wrap: wrap;
    height: 420px;
    width: 490px;
}

.grid div {
    height: 70px;
    width: 70px;
}

.player-one {
    background-color: red;
    border-radius: 50%;
}

.player-two {
    background-color: blue;
    border-radius: 50%;
}

